body {
    background-image: url(images/skybackground.jpg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

nav {
    border-bottom: 2px solid grey;
  }

  btnGet {
      color: aqua;
  }
  h1 {
      padding-top: 30px;
      color:grey;
  }

  h2{ 
      color:grey;
  }


